body {
  color: #333;
  font-size: 16px;
  font-family: monospace;
  line-height: 1em;
  overflow: hidden;
  max-width: 650px;
  margin: 40px auto;
}

.pixel {
  background-color: rgb(255,0,245);
  position: absolute;
  width: 1px;
  height: 1px;
  top: 72px;
  left: 280px;
}

a {
  text-decoration: none;
  color: rgba(53, 167, 255, 1);
  font-weight: bold;
}

a:hover {
  color: rgba(239, 71, 111, 1);
  text-decoration: underline;
  transition-duration: .2s;
}

@media (max-width: 750px) {
  body {
    margin: 40px 50.5px auto;
  }
}
